@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

@theme {
    --color-BM-background: #161616;
    --color-BM-sidebar: #242424;
    --color-BM-bars-swap: #CBD8F4;
    --color-BM-bars-compare: #F4E4CB;
    --color-BM-subtext: #bbbbbb;
    --color-BM-active: #3A3A3A;
    --color-BM-border: #7E7E7E;
    --text-color-BM-text: #ffffff;
    --text-color-BM-subtext: #bbbbbb;
    --font-display: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Poppins', system-ui, sans-serif;
}

/* Para navegadores basados en Webkit (Chrome, Edge, Safari) */
.scroll-bar-custom::-webkit-scrollbar {
  width: 0px; 
}

.scroll-bar-code {
  scrollbar-width: thin;             
  scrollbar-color: #ccc transparent;
}

.scroll-bar-code::-webkit-scrollbar {
  width: 8px;      
  height: 8px;      
}

.scroll-bar-code::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 4px;
}

.scroll-bar-code::-webkit-scrollbar-thumb {
  background-color: #ccc ; 
  border-radius: 4px;       
  border: 2px solid transparent; 
  background-clip: content-box;  
  transition: background-color 0.3s;
}

.scroll-bar-code::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;  
}

